.addChat {
  position: absolute;
  width: 20%;
  height: 100%;
  background-color: #4A394B;
  top: 0%;
  overflow: auto;
}

.chatHeader {
  position: absolute;
  height: 10%;
  width: 80%;
  left: 20%;
  background-color: whitesmoke;
  top: 0%;
}

.chatLocation {
  position: absolute;
  height: 83%;
  width: 80%;
  top: 10%;
  left: 20%;
  background-color: wheat;
}

.channelcolor {
  margin-top: 100px;
  color: grey;
}

#btnLocation {
  margin-top: -55px;
  color: grey;
  margin-left: 220px;
}

#chatHeader_textArea {
  width: 235px;
  margin-left: 700px;
  margin-top: 15px;
}

#chatLocation_textArea {
  width: 90%;
  height: 30px;
  margin-top: 0px;
}

.fa-telegram {
  margin-top: -500px;
}

.listcolor {
  color: darkgrey;
}

.chatInput {
  top: 93%;
  position: absolute;
  left: 20%;
  width: 80%;
  height: 7%;
}

.fa-plus {
  margin-left: 10px;
  margin-top: 0px;
  width: 30px;
  height: 30px;
  font-size: 20px;
  padding: 5px;
  background-color: lightgray;
}

.fa-paper-plane-o {
  font-size: 20px;
  margin-top: 0px;
}

.foundChannel_style {
  color: yellow;
  margin-left: 30px;
}

.role_Style {
  color: tomato;
  margin-left: 30px;
}
